
/*견적서*/
.bold {
  font-weight: 700;
}
.bill {
  width: 100%;
  background-color: #fff;
  max-width: 1200px;
  margin: 80px auto;
	position: relative;
}
.bill input[type="text"] {
	width: 100%;
  border: none;
	height: 35px;
}
.bill input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid #333;
}
.bill_title {
  width: 100%;
  background-color: #fff;
  margin-bottom: 80px;
  display: flex;
  justify-content: center;
}
.bill_title input[type="text"] {
  width: 100%;
	height: auto;
  text-align: center;
  color: #000;
  font-size: 50px;
}
.bill_title input[type="text"]::placeholder {
  color: #ddd;
}
.bill .bill_logo {
  width: 120px;
}
.bill_top_content {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.bill_top_content table {
  width: calc(50% - 20px);
  border-collapse: collapse;
  border-bottom: 2px solid #796c98;
  border-top: 2px solid #796c98;
}
.bill_bottom_content table{
    table-layout: fixed;
}

.bill_top_content table tr,
.bill_bottom_content table tr {
  border-top: 1px solid #f6f6f6;
}
.bill_top_content table tr:first-child,
.bill_bottom_content table tr:first-child {
  border-top: none;
}
.bill_top_content table td {
  padding: 20px 10px;
  box-sizing: border-box;
}
.bill_bottom_content table td {
  padding: 20px 0;
  box-sizing: border-box;
}
.bill_top_content table th,
.bill_bottom_content table th {
  background-color: #e2e8f4;
  padding: 20px 10px;
  box-sizing: border-box;
}
.bill_bottom_content {
  width: 100%;
  margin-top: 80px;
}
.bill_bottom_content table {
  width: 100%;
  border-collapse: collapse;
  border-top: 2px solid #796c98;
  border-bottom: 2px solid #796c98;
}
.bill_bottom_content table td {
  text-align: center;
}
.bill_bottom_content input[type="text"] {
	width: 100%;
  border-bottom: none;
  font-size: 16px;
  text-align: center;
	padding: 5px;
}
.bill_bottom_content textarea {
  width: 100%;
  border: none;
  overflow-y: hidden;
  resize: none;
  font-size: 16px;
  word-break: keep-all;
  text-align: left;
}
.bill_bottom_content textarea:focus {
  outline: none;
  border-bottom: 1px solid #ddd;
}
.am{
	width:45%;
  display: flex;
  flex-direction: column;
}
.am table {
  border-collapse: collapse;
  border-bottom: 2px solid #796c98;
  border-top: 2px solid #796c98;
}
.am #userid {
	width: 150px;
	margin-bottom: 30px;
}
 .bill_top_content table {
  width: calc(50% - 20px);
  border-collapse: collapse;
  border-bottom: 2px solid #796c98;
  border-top: 2px solid #796c98;
}
.bill_bottom_content table{
    table-layout: fixed;
}

.am table tr,
.am table tr {
  border-top: 1px solid #f6f6f6;
}
.am table tr:first-child,
.am table tr:first-child {
  border-top: none;
}
.am table td {
  padding: 20px 10px;
  box-sizing: border-box;
}
.am table td {
  padding: 20px 0;
  box-sizing: border-box;
}
.am table th,
.am table th {
  background-color: #e2e8f4;
  padding: 20px 10px;
  box-sizing: border-box;
}
.am input[type="text"] {
  width: 100%;
  text-align: center;
  color: #000;
  font-size: 20px;
}
.bill_pay {
	width:70%;
  margin-left: auto;
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  gap: 20px;

}
.bill_total,
.bill_vat,
.bill_discount,
.bill_custom {
  width: 100%;
  display: flex;
  justify-content: end;
  align-items: center;
  font-size: 25px;
}
.bill_custom {
	padding-top: 15px;
	border-top: 2px solid #796c98;
}
.bill_total p,
.bill_vat p,
.bill_discount p,
.bill_custom p {
  width: 50%;
  text-align: right;
}
.bill_total input[type="text"],
.bill_vat input[type="text"],
.bill_discount input[type="text"],
.bill_custom input[type="text"] {
  border: none;
	text-align: right;
  font-size: 30px;
}
.bill_select_wrap {
  width: 100%;
  margin: 50px 0;
}

.bill_select_wrap select {
  width: 150px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px 25px 5px 5px; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url("/new/images/sel-arrow.png") no-repeat 90% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
  background-size: 10px;
  border: 1px solid #bbb;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.bill select {
box-sizing: border-box;
  padding: 5px 25px 5px 5px; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url("/new/images/sel-arrow.png") no-repeat 90% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
  background-size: 10px;
  border: 1px solid #ddd;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;

}
.bill_select_wrap select:focus {
  outline: none;
}
.row_add_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}
.row_add_wrap button {
  border: 1px solid #ddd;
  background-color: #e2e8f4;
  border-radius: 4px;
  padding: 5px 10px;
  margin-bottom: 20px;
}
#default_tbl,
#design_tbl,
#program_tbl,
#service_tbl {
  border-top: none;
}
#default_tbl tr,
#design_tbl tr,
#program_tbl tr,
#service_tbl tr {
	position: relative;
  border-bottom: none;
  border-top: none;
}
button.remove {
  position: absolute;
	right: -100px;
	border: 1px solid #ddd;
	background-color: #e2e8f4;
	border-radius: 4px;
	padding: 5px 10px;
	margin-bottom: 20px;

}
#bill_total_input,
#proposal_bill_input {
  text-align: right;
}
/*foot*/
.bill_footer {
  text-align: center;
  margin: 150px 0;
}
 #dojang {
		cursor:pointer;
		display:inline-block;
		width:75px;
		height:75px;
		background-image:url(/images/dojang2.png);
		font-size: 18px;
		font-weight: normal;
		position:relative;
		top:0;
		line-height:75px;
}

.print_btn{
	position: absolute;
	top: 0;
	right: 0;
	border: 1px solid #ddd;
	background-color: #e2e8f4;
	border-radius: 4px;
	padding: 5px 10px;
	margin-bottom: 20px;
}
/******************************************
              거래명세서
********************************************/
.bill_table_modify input[type="text"] {
  width: 100%;
  text-align: center;
  font-size: 16px;
}
.bill_table_modify02 {
  table-layout: fixed;
}
.bill_table_modify02 input[type="text"] {
  width: 100%;
}
/******************************************
              대금청구서
********************************************/
.bill_table_modify2 input[type="text"] {
  font-size: 16px;
  width: 80%;
}
.bill_bottom_list {
  width: 100%;
  margin-top: 100px;
  border-top: 2px solid #796c98;
  border-bottom: 2px solid #796c98;
}
.bill_bottom_list ul {
  padding: 0;
}
.bill_bottom_list ul li {
  display: flex;
  list-style: none;
  align-items: start;
  gap: 30px;
  margin-bottom: 10px;
  color: #000;
  font-size: 18px;
}
.bill_bottom_list ul li p {
  width: 15%;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 0;

  font-weight: 700;
}

.bill_bottom_list ul li p::before {
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background-color: #796c98;
}

.bill_bottom_list ul li textarea {
  width: 80%;
  border: none;
  resize: none;
  padding: 10px;
  box-sizing: border-box;
  font-size: 16px;
}
.bill_bottom_list ul li textarea {
  overflow-y: hidden;
}
.bank_img {
  margin-top: 150px;
  display: flex;
  align-items: start;
  justify-content: center;
}
.bank_img img {
  width: 100%;
  max-width: 800px;
}
textarea.bill_sort {
  display: none;
}
.bill_table_modify02 th input {
  border: none;
  background-color: transparent;
}
.bill_table_modify02 select {
  width: 100%;
  height: 35px;
  box-sizing: border-box;
  padding: 5px 25px 5px 5px; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url("/images/sel-arrow.png") no-repeat 97% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
  background-size: 10px;
  border: 1px solid #bbb;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
.bill_table_modify02 select:focus {
  outline: none;
}
/***********************
      계약서
************************/
.contract_content {
  width: 100%;
  margin-bottom: 50px;
}
.contract_content ul li {
  list-style: decimal;
  word-break: keep-all;
}
.list_row {
  display: flex;
}
.list_row p {
  margin: 0;
}
.list_row_inner p {
  width: 100%;
  display: flex;
}
.list_row_inner input[type="text"] {
  width: 100px;
  font-size: 16px;
}
.company_name_wrap input {
  width: 100px;
}
.underline {
  text-decoration: underline;
}
.bill_sub_title {
  font-size: 20px;
  font-weight: 700;
}

/*foot*/
.bill_footer {
  text-align: center;
  margin: 150px 0;
}
 #dojang {
	cursor:pointer;
	display:inline-block;
	width:75px;
	height:75px;
	background-image:url(/images/dojang2.png);
	font-size: 18px;
	font-weight: normal;
	position:relative;
	top:0;
	line-height:75px;
}
/*인수인계*/
table.transition_table {
  width: 100%;
  table-layout: fixed;
}	
table.transition_table td input{
	text-align: center;
}
table.transition_table input,
table.transition_table select,
table.transition_table textarea {
  width: 100%;
  background-color: transparent;
}
table.transition_table .sign {
	display: flex;
	height: fit-content;
	align-items: center;
	justify-content: center;
}
table.transition_table input,
table.transition_table textarea {
  border: none;
  resize: none;
}
table.transition_table select {
  width: 150px;
  height: 35px;
  box-sizing: border-box;
  padding: 5px 25px 5px 5px; /* 여백으로 높이 설정 */
  font-family: inherit; /* 폰트 상속 */
  background: url("/images/sel-arrow.png") no-repeat 90% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
  background-size: 10px;
  border: 1px solid #bbb;
  border-radius: 0px; /* iOS 둥근모서리 제거 */
  -webkit-appearance: none; /* 네이티브 외형 감추기 */
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}
/****************
구매품의서
******************/
.order_wrap {
	width: 100%;
  margin: 50px 0;
}
.order_top_tbl {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #796c98;
  border-top: 2px solid #796c98;
	table-layout: fixed;
}
table.order_top_tbl tr {
  border-top: 1px solid #ddd;
}
table.order_top_tbl th {
  background-color: #e2e8f4;
  padding: 20px 10px;
  box-sizing: border-box;
}
table.order_list_tbl {
  width: 100%;
  border-collapse: collapse;
  border-bottom: 2px solid #796c98;
  border-top: 2px solid #796c98;
  table-layout: fixed;
}
.order_top_tbl input,
.order_top_tbl textarea {
	width: 100%;
  border-bottom: none;
  font-size: 16px;
  text-align: center;
	padding: 5px;
}
.order_list_tbl td input,
.order_list_tbl td textarea {
  width: 100%;
	
}
.note_wrap {
  width: 100%;
  margin: 50px auto;
}
.note_wrap textarea {
  width: 100%;
  border: 1px solid #ddd;
  resize: none;
}
